{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}


<main id="site-main" class="site-main outer">
    <div class="top">
        <div class="inner">
            {{#tag}}
            <header class="tag-header">
                <div class="header-name">
                    <h1>{{name}}</h1>
                    {{!-- sort menu here --}}
                </div>
                {{!-- tags sort here --}}
            </header>
            {{/tag}}
        </div>
    </div>
    <div class="inner posts">
        <div class="post-feed">

            

            {{#foreach posts}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

            {{/foreach}}

        </div>
    </div>
</main>
